<div class="menu">
    <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <a href="/usuario">
            <button class="btn btn-outline-light" style="border-width: 1px;
                    border-color: black;
                    border-radius: 0px 40px 40px 0px;">
                <img src="/img/user.png" style="width: 25px;">
            </button>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/servicos">Serviços</a>
            <a class="dropdown-item" href="/agenda">Agenda</a>
            {{#if ( isMaster usuario.perfil) }}
            <a class="dropdown-item" href="/seuservicos">Seus Trabalhos</a>
            {{/if}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/sair">Sair</a>
        </div>
    </div>
</div>