{{> menu }}

<div class="centralizaBloco">
  <div class="row">

    <div class="col-md-12 blocoTitle">
      <h1>Serviços</h1>
      <hr>
    </div>

    <div class="col-md-6 bloco">
      <div class="b-game-card">
        <a class="btn btn-primary" href="servicos/cabelo">
          <div class="b-game-card__cover">
            <div class="b-title-card">
              <h1>Cabelo</h1>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 bloco">
      <div class="b-game-card">
        <a class="btn btn-primary" href="servicos/barba">
          <div class="b-game-card__cover">
            <div class="b-title-card">
              <h1>Barba</h1>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 bloco">
      <div class="b-game-card">
        <a class="btn btn-primary" href="servicos/cabeloebarba">
          <div class="b-game-card__cover">
            <div class="b-title-card">
              <h1>Cabelo e Barba</h1>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 bloco">
      <div class="b-game-card">
        <a class="btn btn-primary" href="servicos/hidratacao">
          <div class="b-game-card__cover">
            <div class="b-title-card ">
              <h1>Hidratação</h1>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>